@media screen and (max-width: 414px) {
    .menu,
    .social{
        display: none;
    }

    .logo{
        width: 100%;
    }

    #btn-menu,
    #menu-mobile{
        display: block;
    }

    #menu-mobile.active{
        height: calc(100vh - 77px);
        visibility: visible;
    }

    .nav-hamburguer {
      height: 100%;
      width: 100%;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      background-color: #111;
      overflow-x: hidden;
      padding-top: 60px;
      transition: 0.7s;
    }
    
    .nav-hamburguer .link_hamburguer {
      display: block;
      padding: 10px 30px;
      text-align: center;
      text-decoration: none;
      margin: 30px;
      color: #ccc;
      font-size: 25px;
    }
    
    #main-companhia {
      width: 100%;
      height: 100vh;
      background-position: center;
      background-size: cover;
      margin-bottom: 10px;
    }

    #content {
      padding: 20px;
      transition: margin-left 0.7s;
      overflow: hidden;
    }


    .nav-hamburguer .link_hamburguer:hover {
      color: #fff;
      transition: 0.4s;
    }
    
    .nav-hamburguer .close {
      position: absolute;
      top: 0;
      right: 22px;
      margin-left: 50px;
      font-size: 30px;
    }
    
    .slide-companhia .link_hamburguer {
      color: #fff;
      font-size: 36px;
    }

     
}