.titulo-socrates {
    color: #9DBDE3;
    background-color: #24262b;
    text-align: center;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 700;
    padding: 1.7rem 0 1.7rem 0;
}

ul li {
    padding: 10px;
}

.min-texto {
    font-size: 15px;
    padding: 22px;
}

figcaption {
    font-size: 15px;
}

blockquote {
    margin: 0 0 1rem;
    margin: 0;
    padding: 0;
}

.content-text .conteudo blockquote {
    border-left: 5px solid #427fa8;
    font-size: 92%;
    margin: 0 0 20px;
    padding: 10px 20px;
}

span p{
    padding-bottom: 20px;
}