/*parte mobile */

@media screen and (max-width: 390px) {
   
    .container .titulo-h1 {
        margin: 0;
        font-size: 60px;
    }
    
    .container .titulo-h1 .titulo-span{
        border: 0;
    }

    .slide-felicidade-mobile .link {
        color: #000;
    }

    p {
        font-size: 20px;
    }
}

@media screen and (max-width: 414px) {
   
    .container .titulo-h1 {
        margin: 0;
        font-size: 60px;
    }
    
    .container .titulo-h1 .titulo-span{
        border: 0;
    }

    .slide-felicidade-mobile .link {
        color: #000;
    }

    .button {
        display: block;
    }

    p {
        font-size: 20px;
    }
}