/*parte mobile */

@media screen and (max-width: 390px) {
    .button {
        font-size: 20px;
    }

    .container .titulo-h1 .titulo-span{
        border: 0;
    }

    .modal {
        padding: 30px;
    }

    .fechar {
        top: -7px;
        right: -4px;
    }

    .texto-discord{
        display: none;  
    }

    .link-discord {
        display: none;
    }

}

@media screen and (max-width: 414px) {
    
    .button {
        font-size: 20px;
    }

   

    .container .titulo-h1 .titulo-span{
        border: 0;
    }

    .modal {
        padding: 30px;
    }

    .fechar {
        top: -7px;
        right: -4px;
    }

    .texto-discord{
        display: none;  
    }

    .link-discord {
        display: none;
    }

}

/* parte tablet */

@media screen and (max-width: 700px) {

    .texto-discord{
        display: none;  
    }

    .link-discord {
        display: none;
    }

    .modal {
        padding: 80px;
    }

}

@media screen and (max-width: 949px) {
    
    .button {
        font-size: 20px;
    }

    .container .titulo-h1 .titulo-span{
        border: 0;
    }

    .modal {
        padding: 60px;
    }

    .fechar {
        top: -7px;
        right: -0.1px;
    } 
}

/* parte desktop */

@media screen and (min-width: 1400px) {

    .modal {
        background-color: #fcfcfc;
        padding: 100px;
    }

    .texto-discord {
        font-size: 18px;
    }

    .texto-contato {
        font-size: 18px;
    }

    .label {
        font-size: 22px;
    }

    .link-discord {
        margin: 9px;
    }
    
    .container .titulo-h1 .titulo-span {
        border: 10px solid white;
        padding: 16px 16px;
        display: inline-block;
    }

    .titulo-h1 {
        font-size: 26px;
    }

    .main-image {
        position: relative;
        background-size: cover;
        height: 800px;
        overflow: hidden;
    }
    
    .button {
        font-size: 18px;
    }

    .cen {
        font-size: 19px;
    }
}