/*parte mobile */

@media screen and (max-width: 375px) {
    
    img {
        width: 300px;
    }
    
    .container .titulo-h1 {
        margin: 0;
        font-size: 60px;
    }

    .button {
        display: block;
        padding: 1px;
    }

    .container .titulo-h1 .titulo-span{
        border: 0;
    }
}

@media screen and (max-width: 414px) {
   
    img {
        width: 200px;
    }

    #content {
        padding: 10px;
    }

    .container .titulo-h1 {       
        margin: 0;
        font-size: 60px;
    }
    
    .container .titulo-h1 .titulo-span{
        border: 0;
    }

    .slide-felicidade-mobile .link {
        color: #000;
    }

    .button {
        display: block;
        padding: 4px;
    }

    p {
        font-size: 18px;
    }
}