.titulo-centauro {
    color: #9DBDE3;
    background-color: #24262b;
    text-align: center;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 700;
    padding: 1.7rem 0 1.7rem 0;
} 