.titulo-licaao {
    color: #9DBDE3;
    background-color: #24262b;
    text-align: center;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 700;
    padding: 1.7rem 0 1.7rem 0;
}

@font-face {
    font-family: 'icones';
    src: url(../font/icones.ttf);
}

* {
    margin: 0;
    scroll-behavior: smooth;
	padding:0;
	box-sizing: border-box;
}

body{
    line-height: 1.5;
}

div {
    margin: 0;
    padding: 0;
}

.content {
    background-color: #f6f7fb;
    padding: 30px;
}

.conteudo {
    background-color: #fff;
    padding: 20px;
}

.content-text {
    font-size: 19px;
}

.imagem {
	height: auto;
    max-width: 100%;
    text-align:center;
}

p {
    color: black;
    font-size: 18px;
    text-align: center;
    padding: 8px;
}

.titulo__list {
    padding: 30px;
}

.sub_titulo {
    text-decoration: underline;
	font-size: 18px;
    color: #636363;
    padding: 4rem;
	margin: 20px;
    text-decoration: underline;
	text-transform: uppercase;
    font-size: 18px;
    text-align: center;
}

figcaption {
    font-size: 15px;
}

.link {
    color: rgba(20, 49, 214, 0.800);
    text-decoration: none;
}

.link-strong {
    color: rgba(20, 49, 214, 0.933);
    text-decoration: none;
}

.link-flecha {
    color: rgba(52, 112, 243, 0.933);
    text-decoration: none;
}

.link-flecha1 {
    color: rgba(52, 112, 243, 0.933);
}

ul li {
    padding: 10px;
    font-size: 17px;
}