@import url(../responsivo/responsivo-contato.css);


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
}

.form{
    background: #fff;
    max-width: 500px;
    height: 450px;
    padding: 40px;
    border-radius: 20px;
}

.form .titulo-contato {
    text-align: center;
    margin-bottom: 10px;
    color: #2D5966;
    font-size: 22pt;
}

.form .texto-contato {
    text-align: center;
    margin-bottom: 25px;
}

.form .input-single{
    position: relative;
    margin: 30px 0;
}

.form .input-single .label{
    position: absolute;
    left: 0;
    bottom: 5px;
    cursor: text;
    transition: all 0.5s;
    color: #808080;
}

.form .input-single .input{
    width: 100%;
    border: 0;
    border-bottom: 2px solid #808080;
    padding: 5px;
    outline: 0;
    font-size: 16px;
}

.form .input-single .input:focus{
    border-bottom: 2px solid #2D5966;
}

.mensafe {
    width: 100%;
    border: 0;
    border-bottom: 2px solid #808080;
    padding: 5px;
    outline: 0;
    font-size: 16px; 
}

.form .input-single .input:focus ~ label,
.form .input-single .input:valid ~ label{
    transform: translateY(-20px);
    font-size: 12px;
    color: #2D5966;
}

.btn-contato{
    width: 100%;
    text-align: center;
}


.form .input[type=submit]{
    padding: 10px 40px;
    border: 0;
    border-radius: 10px;
    background-color: #2D5966;
    color: #fff;
    font-size: 14pt;
    cursor: pointer;
    transition: ease-in-out 1.0s;
}

.btn-contato .input:hover{
    background-color: green;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    transition: ease-in-out .9s;
}

.modal-container{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #0000004b;
    z-index: 999;
    align-items: center;
    justify-content: center;
    display: none;
}

.modal{
    background-color: #fcfcfc;
    backdrop-filter: blur(10px);
    padding: 70px;
    border-radius: 10px;
    
}

.fechar{
    position: absolute;
    top: -10px;
    right: -10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    background-color: #ff0000;
    color: #fff;
    font-weight: 700;
    font-size: 14pt;
    cursor: pointer;
    transition: ease-in-out 1.0s;
}

.fechar:hover{
    background-color: #bd0303;
    transition: ease-in-out .9s;
}

.modal .titulo-contato{
    margin-bottom: 20px;
    text-transform: uppercase;
}


@keyframes animate-modal {
    from{
        opacity: 0;
        transform: translate3d(0, -20px, 0);
    }

    to{
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.modal-container.mostrar{
    display: flex;
}

.mostrar .modal{
    animation: animate-modal .3s;
}


